.background-contact {
  /* background-color: transparent; */
  background-image: url("../public/assets/img/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
