body{
  overflow: hidden;
}

.aboutme {
  position: absolute;
  left: 10%;
  top: 20%;
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
  width: 70%;

  h1 {
    font-size: 53px;
    font-family: 'Open Sans', sans-serif;
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40;
    letter-spacing: 12px;
    text-shadow: rgb(0, 0, 0) 5px 10px;
  }
  h2{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40;
    letter-spacing: 10px;
    text-shadow: rgb(0, 0, 0) 5px 10px;
  }
  p{
    font-size: medium;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    text-align: left;
    // min-width: min-content;
    animation: pulse 1s;
    font-family: 'Open Sans', sans-serif;
    direction: rtl;
    letter-spacing: 3px;
    &:nth-of-type(1) {
        animation-delay: 1.1s;
    }

    &:nth-of-type(2) {
        animation-delay: 1.2s;
    }

    &:nth-of-type(3) {
        animation-delay: 1.3s;
    }
  }
}

.skills {
  
  width: 500px;
  position:absolute;
  top: 47%;
  width: 80%;
  height: fit-content;
  left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: transparent;
  color: white;
  font-size: large;
  letter-spacing: 5px;
 
}

.skill {
  width: 100%;
  margin: 4px 0;
}

.title {
  color: #fff;
  font-weight: 700;
}

.progress-bar {
  background: #404040;
  border-radius: 3px;
  width: 70%;
  height: 15px;
  margin-top: 5px;
/*   overflow: hidden; */
}



#html .progress {
  max-width: 80%;
  height: 100%;
  background: #ffd700;
  border-radius: 3px;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#html .progress::after {
  content: "80%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: rgb(255, 253, 253);
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}
#html .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgb(255, 255, 255);
}

#css .progress {
  max-width: 70%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#css .progress::after {
  content: "70%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#css .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#js .progress {
  max-width: 70%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#js .progress::after {
  content: "70%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#js .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
#react .progress {
  max-width: 80%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#react .progress::after {
  content: "80%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#react .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
#next .progress {
  max-width: 70%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#next .progress::after {
  content: "70%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#next .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
#C .progress {
  max-width: 80%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#C .progress::after {
  content: "80%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#C .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
#Node .progress {
  max-width: 50%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#Node .progress::after {
  content: "50%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#Node .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
#Docker .progress {
  max-width: 50%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#Docker .progress::after {
  content: "50%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#Docker .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
#figma .progress {
  max-width: 60%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#figma .progress::after {
  content: "60%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#figma .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
#problem .progress {
  max-width: 68%;
  height: 100%;
  background: #ffd700;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#problem .progress::after {
  content: "68%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  color: #000000;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#problem .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
.midhead{
  position: absolute;
  top: 37%;
  left: 10%;
  color: #ffd700;
  font-size: 45px;
  letter-spacing: 12px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: rgb(0, 0, 0) 5px 10px;
}

@keyframes loadBars{
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
  
}
@media screen and (max-width:1200px){
  body{
    overflow-y: visible;
  }
  .aboutme{
    // border: 2px solid red;
    width: 96%;
    top: 50%;
    left: 0;
    padding: 5px 5px;

    h1{
      font-size: 25px;
    }
    h2{
      font-size: 15px;
    }
    p{
      margin-top: 27px;
      font-size: 13px;
    }
  }
  .skills{
    // border: 2px solid red;
    top: 95%;
    left: 0;
    padding: 10px 10px;
    width: 90%;
  }
  .skill{
    margin: 7px 0px;
  }
  .midhead{
    top: 80%;
    left: 0;
    padding: 10px 10px;
  }
  .progress-bar{
    width: 100%;
  }
}
@media (width: 1280px){
  .aboutme{
    h1{
      font-size: 25px;
    }
    h2{
      font-size: 17px;
    }
    p{
      font-size: 13px;
    }
  }
  .midhead{
    font-size: 20px;
  }
  .skills{
    top: 43%;
    padding: 2px 5px;
  }
  .skill{
    margin: 0px 0px;
  }
}