.background-skills {
  background-color: black;
  background-image: url("../public/assets/img/color-sharp.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scrolbar-color {
  scrollbar-color: rgb(214, 214, 27) red;

  height: 150px;
  width: 200px;
  overflow-y: scroll;
}
