@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

.text-zone {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;

  .texth1cont {
    font-size: 53px;
    font-family: 'Open Sans', sans-serif;
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: 57%;
    margin-left: -390px;
    letter-spacing: 12px;
  }
  p {
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
    letter-spacing: 15px;
    animation: pulse 1s;

    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }

    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }

    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }

}

.contact-form {
  width: 100%;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeIn 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child{
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email']{
    width: 100%;
    background: #115173 ;
    height: 50px;
    font-size: 16px;
    padding: 0 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border: none;
    resize: none;
    outline: none;
  }
  textarea{
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 5px 20px;
    // line-height: 150px;
    box-sizing: border-box;
  }

  .flat-button{
    color: #ffd700;
    background: 0 0;
    font: 11px;
    width: 10%;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 12px 12px;
    cursor: pointer;
    border: 1px solid #ffd700;
    float: right;
    border-radius: 4px;
  }
  .flat-button:hover{
    background-color: #e8e54e;
    color: black;
  }
}
.number{
  top: 70%;
  margin-top: 34px;
  width: 70%;
  height: 70px;
  display: flex;
  color: #e8e54e;
  font-size: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #115173;
  border-radius: 4px;



/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
  will-change: box-shadow,transform;
  font-size: 14px;
  margin-left: 35px;
}
}
::placeholder { 
  color: white;
  opacity: 1; 
}
@media screen and (max-width:1200px) {
  .text-zone{
    top: 58%;
    .texth1cont{
      font-size: 25px;
      margin-left: -140px;
      // border: 2px solid red;
    }
    p{
      font-size: 15px;
      letter-spacing: 10px;
      // border: 2px solid red;
      width: 270px;
      margin-left: -63px;
    }
  }
  .contact-form{
    // border: 2px solid red;
    width:  300px;
    margin-left: -70px;

    ul{
      padding: 0px 0px;


      li{
        padding: 5px 5px;
      }

      li.half {
        width: 95%;
        margin-left: 0%;
        float: left;
        clear: none;
  
        &:first-child{
          margin-left: 0;
        }
      }
    }
    
    .flat-button{
      float: left;
      width: fit-content;
    }
  }

  .number{
    width: 70%;
    font-size: 15px;
    height: 50px;

    .button-29{
      height: 20px;
    }
  }

   
}